{% extends "layouts/base.html" %}

{%block content%}
<h1>About {{ username }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum culpa, voluptates illo eum nemo maiores soluta adipisci maxime ullam? Tempore dicta tenetur, error hic voluptatibus expedita unde harum non ad cum sint repellendus amet repudiandae, eos veritatis quisquam officia. Atque error nostrum veniam voluptates quis quisquam perferendis, aliquam ab quasi rem, similique aliquid quam velit odio id, quidem beatae ipsa labore? Inventore neque dicta iusto. Saepe eligendi exercitationem eaque enim aliquam sapiente nisi reprehenderit dignissimos id magnam itaque unde beatae sint explicabo dolorem aperiam blanditiis, officia corrupti? Facilis delectus libero ad repellat? Blanditiis minus rerum nam, ex sapiente aliquid doloremque.</p>
{%endblock%}